
/* Code Page */

#code {
    height: 60px;
    width: 50%;
    margin: 0 auto;
    font-size: 40px;
}

.callout-danger {
    border-left: 6px solid tomato;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 3px;
    background-color: whitesmoke;
}
.callout-success {
    border-left: 6px solid green;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 3px;
    background-color: whitesmoke;
}
